<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysocialplatformapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".filters.FilterActivity"></activity>
        <activity android:name=".payment.PaymentActivity" />
        <activity
            android:name=".createNewAnnouncement.SelectImageActivity"
            android:parentActivityName=".createNewAnnouncement.RequestActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".announcementDetails.AnnouncementDetailActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainScreenActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".createNewAnnouncement.RequestActivity"
            android:parentActivityName=".main.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reviewUser.UserReviewActivity" />
        <activity android:name=".myProfile.MyProfileActivity" />
    </application>

</manifest>